<div class="p-6 space-y-4 bg-gray-100 rounded-lg shadow-lg ">
<div class="p-6 space-y-4 bg-gray-100 rounded-lg shadow-lg ">
  <p-toolbar class="bg-orange-500">
    <h1 class="text-gray-500">Listado de Usuarios</h1>
  </p-toolbar>
  <p-table
    styleClass="p-datatable-gridlines"
    sortMode="multiple"
    [value]="listaUserService.users()"
    [tableStyle]="{ 'min-width': '50rem' }"
    [paginator]="true"
    [rows]="10"
    [rowHover]="true"
    dataKey="codigo"
    [paginator]="false"
    [scrollable]="true"
    [rows]="100"
    scrollHeight="1000px"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="text-black border-2 border-gray-100 border-solid"
        [style]="{'text-align': 'center', 'font-size': '0.80em'}">Login</th>
        <th class="text-black border-2 border-gray-100 border-solid"
        [style]="{'text-align': 'center', 'font-size': '0.80em'}">Nombre</th>
        <th class="text-black border-2 border-gray-100 border-solid"
        [style]="{'text-align': 'center', 'font-size': '0.80em'}">Correo</th>
        <th class="text-black border-2 border-gray-100 border-solid"
        [style]="{'text-align': 'center', 'font-size': '0.80em'}">Area</th>
        <th class="text-black border-2 border-gray-100 border-solid"
        [style]="{'text-align': 'center', 'font-size': '0.80em'}">Nivel</th>
        <th class="text-black border-2 border-gray-100 border-solid"
        [style]="{'text-align': 'center', 'font-size': '0.80em'}">Id</th>
        <th class="text-black border-2 border-gray-100 border-solid">Editar</th>
        <th class="text-black border-2 border-gray-100 border-solid">Eliminar</th>

      </tr >
      <tr>
        <th class="text-black border-2 border-gray-100 border-solid"
        [style]="{'text-align': 'center', 'font-size': '1.0em'}">
          <p-columnFilter
            [style]="{ 'text-align': 'center', 'font-size': '1.0em' }"
            type="text"
            field="login"
            [showClearButton]="false"
          />
        </th>

        <th class="text-black border-2 border-gray-100 border-solid"
        [style]="{'text-align': 'center', 'font-size': '1.0em'}">
          <p-columnFilter
            [style]="{ 'text-align': 'center', 'font-size': '1.0em' }"
            type="text"
            field="usuario"
            [showClearButton]="false"
          />
        </th>
        <th class="text-black border-2 border-gray-100 border-solid"
        [style]="{'text-align': 'center', 'font-size': '1.0em'}">
          <p-columnFilter
            [style]="{ 'text-align': 'center', 'font-size': '1.0em' }"
            type="text"
            field="mail"
            [showClearButton]="false"
          />
        </th>
        <th class="text-black border-2 border-gray-100 border-solid"
        [style]="{'text-align': 'center', 'font-size': '1.0em'}">
          <p-columnFilter
            [style]="{ 'text-align': 'center', 'font-size': '1.0em' }"
            type="text"
            field="area"
            [showClearButton]="false"
          />
        </th>
        <th class="text-black border-2 border-gray-100 border-solid"></th>
        <th class="text-black border-2 border-gray-100 border-solid"></th>
        <th class="text-black border-2 border-gray-100 border-solid"></th>
        <th class="text-black border-2 border-gray-100 border-solid"></th>


      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuarios>
      <tr>
        <td  class="text-black border-2 border-gray-100 border-solid"
        [style]="{'text-align': 'justify-left', 'font-size': '0.80em'}">{{usuarios.login}}</td>
        <td  class="text-black border-2 border-gray-100 border-solid"
        [style]="{'text-align': 'justify-left', 'font-size': '0.80em'}">{{usuarios.usuario}}</td>
        <td  class="text-black border-2 border-gray-100 border-solid"
        [style]="{'text-align': 'justify-left', 'font-size': '0.80em'}">{{usuarios.mail}}</td>
        <td  class="text-black border-2 border-gray-100 border-solid"
        [style]="{'text-align': 'center', 'font-size': '0.80em'}">{{usuarios.area}}</td>
        <td  class="text-black border-2 border-gray-100 border-solid"
        [style]="{'text-align': 'center', 'font-size': '0.80em'}">{{usuarios.nivel}}</td>
        <td  class="text-black border-2 border-gray-100 border-solid"
        [style]="{'text-align': 'center', 'font-size': '0.80em'}">{{usuarios.Id}}</td>
        <td  class="text-black border-2 border-gray-100 border-solid"
        [style]="{'text-align': 'center', 'font-size': '0.80em'}" (click)="editar(usuarios.Id)">  <i class="pi-file-edit"></i></td>
        <td  class="text-black border-2 border-gray-100 border-solid"
        [style]="{'text-align': 'center', 'font-size': '0.80em'}" (click)="eliminar(usuarios.Id,usuarios.login)">  <i class="pi pi-trash"></i></td>
      </tr>
    </ng-template>
  </p-table>
  <!-- <p-dialog header = "Editar Operador" [(visible)]="displayDialog" [style]="{width: '50vw'}">
    <app-edit-user [xID] = "xID()"/>
  </p-dialog> -->
</div>

<!-- Componente de notificación -->
@if (notification().show) {
  <div class="fixed z-50 max-w-md notification-container top-4 right-4 animate-fade-in">
    <div
      class="flex items-center justify-between p-4 rounded-md shadow-lg"
      [class]="notification().type === 'success'
        ? 'bg-green-100 border-l-4 border-green-500 text-green-700'
        : 'bg-red-100 border-l-4 border-red-500 text-red-700'"
    >
      <div class="flex items-center">
        <div class="flex-shrink-0 mr-3">
          @if (notification().type === 'success') {
            <svg class="w-5 h-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>
          } @else {
            <svg class="w-5 h-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
            </svg>
          }
        </div>
        <div>{{ notification().message }}</div>
      </div>
      <button
        type="button"
        (click)="closeNotification()"
        class="ml-auto -mx-1.5 -my-1.5 rounded-md p-1.5 inline-flex hover:bg-opacity-20"
        [class]="notification().type === 'success' ? 'hover:bg-green-200 text-green-500' : 'hover:bg-red-200 text-red-500'"
      >
        <span class="sr-only">Cerrar</span>
        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </div>
}

